* {
    margin : 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size : 62.5%;
}

@media only screen and (max-width: 78.15em) {
    html {
        font-size: 50%;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji !important;

    /* background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, rgba(85, 88, 218, 1) 0%, rgba(95, 209, 249, 1) 100.2%); */

    background-color: #DFDBE5;
}



a {
    text-decoration: none;
    color          : white;
}

li {
    list-style-type: none;
}

.text-center {

    text-align: center;

}

.top {
    grid-area       : head;
    background-color: #f9f5f3;
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    font-size       : 15px;
    padding         : 7px;
    position        : relative;
    z-index         : 8000;
}

.nav-item a:hover {
    background-color: #f9f5f3;

    opacity: 0.75;
}

.top__logo {
    margin-left   : 4rem;
    /* height     : 4.6rem; */
    display       : block;
    font-size     : 2rem;
}

/* mobile part of header */

@media only screen and (max-width: 78.15em) {

    .top {
        max-width     : 100%;
        margin        : 0;
        border-radius : 0;
        display       : block;
        padding-bottom: 3rem;

    }

    .top__logo {
        margin-left    : 0;
        display        : flex;
        justify-content: center;
    }

    .top__logo img {
        /* width: 00px; */
        height: 80px;

        margin-top   : 3rem;
        margin-bottom: 3rem;
    }

    .menu-items {
        display    : flex;
        align-items: center;
    }

    .menu-item a {
        font-size      : 1.7rem !important;
        /* margin-right: 7rem; */
        /* font-weight : 500; */
        color          : #6b7280 !important;
        margin-right   : 12px !important;
    }

    .firstTwoContainer {
        /* width: 80%; */
    }

    .download-box {
        /* width          : 80%; */
        margin         : 0 auto;
        flex-direction : column;
        justify-content: center;
        align-items    : center;


    }

    .button-container {

        border-left            : 0 !important;
        border-top-right-radius: 0 !important;

    }

    .clipboard {


        position             : relative;
        /* padding-bottom    : 2rem; */
        /* padding-left      : 2rem; */
        padding-left         : 0 !important;
        margin-left          : 0;
        /* margin            : 0 auto; */
        padding-right        : 1.2rem;
        display              : flex;
        /* justify-content   : center; */
        /* align-items       : center; */

    }

    .informations-wrapper {
        font-size      : 1.5rem !important;
        justify-content: center !important;
        align-items    : center !important;
        margin         : 0 auto !important;
    }

    .dropbox {
        margin-top: 3rem !important;
    }

    .file-infos h3 {
        font-size: 1.8rem !important;
    }

    .second-part {
        margin-left: 0 !important;
    }

    .download-container {
        width: 80%;
    }


}

.menu-items {
    display        : flex;
    justify-content: center;
    list-style-type: none;
    align-items    : center;
}

.menu-item a {
    font-size     : 1.7rem !important;
    color         : #1F2937;
    margin-right  : 7rem;
    /* font-weight: 500; */
    color         : #6b7280 !important;
}

/* download-card */

.keep-center {
    /* position: relative; */
}

.download-container {
    min-height        : 100vh;
    /* max-width      : 1000px; */
    margin            : 0 auto;
    justify-content   : center !important;
}

.content-container {
    background                      : #fff;
    font-size                       : 3rem;
    /* color                        : #777; */
    display                         : flex;
    flex-direction                  : column;
    justify-content                 : center;
    padding-bottom                  : 3rem;
    /* border-bottom-left-radius    : 10px;
    border-bottom-right-radius      : 10px; */

    background-color: #ffffff;
}

.content-container img {
    max-width: 80%;
    margin   : 0 auto;
}

.firstTwoContainer {
    box-shadow: 0 10px 20px 6px rgba(0, 0, 0, .2);

    border-radius: 10px;

    background-image: linear-gradient(65.5deg, rgba(23, 205, 205, 1) -15.1%, rgba(23, 25, 95, 1) 71.5%);

}

.download-box {

    display                   : flex;
    padding-top               : 20px;
    padding-bottom            : 3rem;
    padding-left              : 3rem;
    padding-right             : 3rem;
    /* border-top-left-radius : 10px;
    border-top-right-radius   : 10px; */

}


.clipboard {


    position         : relative;
    /* padding-bottom: 2rem;
    padding-left     : 1.7rem;
    width            : 90%;
    margin           : auto; */
    padding-bottom   : 2rem;
    display          : flex;
    padding-left: 3rem;
}

.image-card-heading {
    /* width: 100%; */
    font-size     : 3.5rem;
    margin        : 0 auto;
    text-align    : center;
    color         : #374151;
    padding-top   : 2rem;
    padding-bottom: 2rem;

}




.file-img {
    border-radius: 1rem;
    height       : 150px;
    margin-top   : 1rem;
}

.file-name-container {
    display    : flex;
    align-items: center;
}

.file-icon {
    width : 30px;
    height: 30px;
}

.file-name {
    font-size   : 3rem;
    /* color    : white; */
}

.file-infos {
    display: flex;
}

.file-infos img {
    width : 30px;
    height: 20px;
}

.file-infos h3 {
    font-size: 1.5rem;
}

.informations-wrapper {
    display  : flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.informations {
    margin-top   : 2rem;
    /* color     : #fff; */


}


.dropbox {
    margin-top: 1rem;
    font-size : 1.5rem;
    color     : #fff;

}


.dropbox {
    display    : flex;
    align-items: center;
}

.dropbox img {
    width : 30px;
    height: 20px;
}



.copy-input {
    /* max-width         : 275px; */
    width                     : 80%;
    cursor                    : pointer;
    background-color          : #eaeaeb;
    border                    : none;
    color                     : #6c6c6c;
    font-size                 : 14px;
    border-radius             : 5px;
    border-top-right-radius   : 0px !important;
    border-bottom-right-radius: 0px !important;

    padding    : 15px 45px 15px 15px;
    font-family: 'Montserrat', sans-serif;
}

.copy-input:focus {
    outline: none;
}


.copy-btn {
    width                    : 40px;
    background-color         : #eaeaeb;
    font-size                : 18px;
    padding                  : 6px 9px;
    border-radius            : 5px;
    border-top-left-radius   : 0px;
    border-bottom-left-radius: 0px;
    border                   : none;
    color                    : #6c6c6c;
    /* margin-left           : -50px; */
    transition               : all .4s;
}

.copy-btn:hover {

    cursor: pointer;
}

.copy-btn:focus {
    outline: none;
}

a {
    cursor: pointer;
}

.file-info-container p {
    font-size: 1.2rem;
}


.button {
    background-image   : linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
    border-radius      : 10rem;
    border             : none;
    text-transform     : uppercase;
    color              : #fff;
    cursor             : pointer;
    /* display         : flex; */
    align-items        : center;
    transition         : 0.5s;
    background-size    : 200% auto;
    color              : white;
    box-shadow         : 0 0 10px #eee;
    margin-top         : 2rem;
    /* padding-top     : 2rem; */
}

.button {

    /* padding: 10px; */
    padding-top   : 10px;
    padding-bottom: 10px;
    padding-left  : 12px;
    padding-right : 12px;
    cursor        : pointer;
    display       : inline-block;
}


.button:hover {
    background-position: right center;
    color              : #fff;
    text-decoration    : none;
}


.down-button {
    color              : #1F2937;
    border-radius      : 5px;
    padding            : 20px;
    padding-left       : 50px;
    padding-right      : 50px;
    color              : white;
    /* background-color: #b8c6db;
    background-image   : linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%); */
}

.down-button:hover {
    /* color: #000; */
}

.second-part {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}


.file-info-container {
    width: 120px;
}



.file-info-container p {
    font-size: 1.2rem;

}


/* wave */

.wave {
    margin-top: -460px;
    transform : rotate(180deg);
    position  : relative;
    z-index   : -1;


}

@media only screen and (min-width: 1000px) {

    .wave {
        /* margin-top: -350.9px !important; */

    }

}

@media only screen and (min-width: 1600px) {

    .wave {
        /* margin-top: -450.6px !important; */
    }

    .wave-main {
        margin-top: -30px;
    }


}

.footer-container {
    margin-top: -1rem;

    font-size     : 1.8rem;
    display       : flex;
    flex-direction: column;
    flex-wrap     : wrap;
    background    : linear-gradient(to right, #4dcece, #0ca7e3);
    color         : #fff;
    padding       : 3rem;

}

.footer-item {
    list-style-type: none;
}

.footer-para {
    font-size    : 1.6rem;
    width        : 40%;
    line-height  : 2;
    margin-bottom: 2rem;
}

.footer-title {
    color        : #fff;
    font-size    : 1.6rem;
    font-weight  : 600;
    /* text-align: center; */
}

.footer-title:hover {
    text-decoration: none !important;
}


@media only screen and (min-width: 700px) {
    .footer-container {
        flex-direction   : row;
        font-size        : 1.3rem;
        text-align       : left;
        /* margin-top    : -160px; */

    }
}

@media only screen and (min-width: 1000px) {
    .footer-para {
        font-size: 1.4rem;
        width    : 30%;

    }
}

@media only screen and (min-width: 1300px) {
    .footer-title {
        font-size : 1.5rem;
        text-align: left;

    }
}

.footer-list-item {
    line-height: 2;
}

.footer-list-item:hover {
    text-decoration: underline;
    cursor         : pointer;
}

.donate {
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%)
}

.donate {
    font-style        : italic;
    padding           : 1rem 2rem;
    text-align        : center;
    text-transform    : uppercase;
    transition        : 0.5s;
    background-size   : 200% auto;
    color             : white;
    box-shadow        : 0 0 20px #eee;
    border-radius     : 10px;
    /* display        : block; */
    box-shadow        : 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    text-decoration   : none;
}

.donate:hover {
    background-position: right center;
    /* change the direction of the change here */
    color              : #fff;
    text-decoration    : none;
}

.ml {
    margin-left: 0;
}

@media only screen and (min-width: 700px) {
    .ml {
        margin-left: -450px;


    }
}

.mr {
    margin-right: 40px;
}

@media only screen and (min-width: 1600px) {
    .mr {
        margin-right: 200px;

    }
}


.start {
    margin-top   : 3rem;
    /* text-align: center; */
}

@media only screen and (min-width: 1000px) {
    .start {
        margin-top: 0;
    }
}


/* app info container */

.app-info-container {
    display           : flex;
    width             : 80%;
    margin            : 0 auto;
    justify-content   : space-between;
    padding-bottom    : 2rem;
    margin-bottom     : 3rem;
    margin-top     : 10rem !important;

}

@media only screen and (max-width: 78.15em) {
    .app-info-container {
        flex-direction : column;
        justify-content: center;
        margin-top     : 5rem !important;
        align-items    : center;
    }
}


@media only screen and (max-width: 900px) {
    .app-info-container {
        /* display        : block; */
        flex-direction : column;
        justify-content: center;
        /* align-items : center; */
    }
}


@media only screen and (max-width: 500px) {
    .app-info-container {
        display        : block;
        flex-direction : column;
        justify-content: center;
        /* align-items : center; */
    }
}


.info-card {
    position     : relative;
    max-width    : 385px;
    width        : 100%;
    border-radius: 25px;
    padding      : 20px 30px 30px 30px;
    background   : #fff;
    box-shadow   : 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index      : 1;
    overflow     : hidden;
    transition   : all 0.2s;
}

@media only screen and (max-width: 78.15em) {
    .info-card {
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 1300px) {
    .info-card {
        /* width: auto; */
        margin-right: 4rem !important;
    }
}


.card-img-container img {
    /* position  : absolute; */
    height       : 300px;
    width        : 300px;
    object-fit   : cover;
    /* transform : rotate(18deg); */
    left         : 12px;
    top          : -40px;
    z-index      : 1;
}

.card-details .card_name {
    font-size  : 26px;
    font-weight: 500;
    color      : #161616;
}


.card_name-para {
    font-size  : 14px !important;
    line-height: 1.8;
    font-weight: 400;
    color      : #333;
    text-align : justify;
}


/* lottie animations */
.anim {
    width          : 100%;
    height         : 200px;
    display        : flex;
    justify-content: center;
}

@media only screen and (max-width: 78.15em) {
    .anim {
        height: 300px;
    }
}

.upper-wrapper {
    display                      : flex;
    /* padding-top               : 5rem;
    padding-bottom               : 5rem; */
    /* max-width                 :1200px; */
    height                       : 400px;
    margin                       : 0 auto;
    /* min-height                : 350px; */
    /* background                : url('./img/card-bg.png') !important; */
    /* border-top-left-radius    : 10px;
    border-top-right-radius      : 10px; */

    /* background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"); */

}

.grand-upper-wrapper {
    /* max-width: 1200px;
    margin: 0 auto; */
    padding-left: 3rem;
}

.material-icons {
    font-size: 3rem !important;
}

.margin-left {
    margin-left: 20px;
}

.upper-container {
    width: 65%;
}

.button-container {

    display                   : flex;
    flex-direction            : column;
    justify-content           : center;
    align-items               : center;
    align-items               : center;
    width                     : 37%;
    border-top-right-radius   : 10px;
    /* border-left            : 4px solid white; */

    background-color: #D1D5DB;
}


@media only screen and (max-width: 78.15em) {
    .upper-wrapper {
        flex-direction: column;
    }

    .upper-container {
        width: 100%;
    }

    .button-container {
        width         : 100%;
        padding-bottom: 2rem;
    }

    .content-container {
        padding-bottom: 8rem;
    }

    .copy-input {
        box-shadow: none !important;
    }

}


.chevron {
    font-size: 8rem !important;
}