* {
    padding: 0;
}

body {
    font-family         : -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
    font-weight         : 400;
    line-height         : 1.6;
    color               : #615551;
    background-size     : cover;
    background-repeat   : no-repeat;
    position            : relative;
    padding             : 0;
    margin              : 0;
    -webkit-box-sizing          : border-box;
            box-sizing          : border-box;
    /* background       : red; */
}



.top {
    grid-area       : head;
    background-color: #f9f5f3;
    display         : -webkit-box;
    display         : -ms-flexbox;
    display         : flex;
    -webkit-box-align     : center;
        -ms-flex-align     : center;
            align-items     : center;
    -webkit-box-pack : justify;
        -ms-flex-pack : justify;
            justify-content : space-between;
    padding         : 7px;
}

.top__logo {
    margin-left   : 4rem;
    /* height     : 4.6rem; */
    display       : block;
    font-size     : 2rem;
}


@media only screen and (max-width: 78.15em) {

    .top {
        max-width        : 100%;
        margin           : 0;
        border-radius    : 0;
        display          : block;
        margin           : 0 auto;
        /* padding-bottom: 3rem; */

    }

    .top__logo {
        margin-left    : 0px !important;
        display        : -webkit-box;
        display        : -ms-flexbox;
        display        : flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient : vertical;
        -webkit-box-direction : normal;
            -ms-flex-direction : column;
                flex-direction : column;
        -webkit-box-align    : center;
            -ms-flex-align    : center;
                align-items    : center;
    }

    .top__logo img {
        /* width: 00px; */
        height: 80px;

        margin-top      : 2rem;
        /* margin-bottom: 3rem; */
    }

    .menu-items {
        display        : -webkit-box;
        display        : -ms-flexbox;
        display        : flex;
        -webkit-box-align    : center;
            -ms-flex-align    : center;
                align-items    : center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-left    : 0;
    }

    .menu-item a {
        font-size   : 1.5rem !important;
        color       : #6b7280 !important;
        margin-right: 12px !important;


    }


}



/* password */
.password-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height : 100vh !important;

    /* padding-bottom        : 12rem; */
    -webkit-box-orient        : vertical;
    -webkit-box-direction        : normal;
        -ms-flex-direction        : column;
            flex-direction        : column;
    /* width              : 100vw; */
    -webkit-box-pack       : center;
        -ms-flex-pack       : center;
            justify-content       : center;
    -webkit-box-align           : center;
        -ms-flex-align           : center;
            align-items           : center;
    background-color      : #667eea;
    background-image      : -o-linear-gradient(315deg, #667eea 0%, #764ba2 100%);
    background-image      : linear-gradient(135deg, #667eea 0%, #764ba2 100%);

}

.password-box {
    -webkit-box-shadow      : 0 10px 20px 6px rgba(0, 0, 0, .2);
            box-shadow      : 0 10px 20px 6px rgba(0, 0, 0, .2);
    background-color: #7f00ff;

    background-image          : -webkit-gradient(linear, left top, right top, from(#7f00ff), to(#e100ff));

    background-image          : -o-linear-gradient(left, #7f00ff, #e100ff);

    background-image          : linear-gradient(to right, #7f00ff, #e100ff);
    display                   : -webkit-box;
    display                   : -ms-flexbox;
    display                   : flex;
    -webkit-box-orient            : vertical;
    -webkit-box-direction            : normal;
        -ms-flex-direction            : column;
            flex-direction            : column;
    color                     : #fff;
    /* padding-top            : 3rem; */
    padding-bottom            : 2rem;
    padding-left              : 3rem;
    padding-right             : 3rem;
    /* justify-content        : center;
    align-items               : center; */
    border-radius             : 10px;
    width                     : 30vw;
}

@media only screen and (max-width: 78.15em) {
    .password-box {
        width: 60vw;
    }

    .input-box-container {
        -webkit-box-orient : vertical !important;
        -webkit-box-direction : normal !important;
            -ms-flex-direction : column !important;
                flex-direction : column !important;
        -webkit-box-pack: start !important;
            -ms-flex-pack: start !important;
                justify-content: start !important;
        -webkit-box-align    : center !important;
            -ms-flex-align    : center !important;
                align-items    : center !important;
    }

    .password-container {
        /* width: 80% !important; */
    }
}

.password-header-icon {
    height      : 30px;
    margin-right: 1rem;
}

.password-header {
    display    : -webkit-box;
    display    : -ms-flexbox;
    display    : flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.password-header h3 {
    font-size: 1.7rem;
}

.password-header-para {
    line-height: 1.2;
}


/* form */

.form {

    display        : -webkit-box;

    display        : -ms-flexbox;

    display        : flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient : vertical;
    -webkit-box-direction : normal;
        -ms-flex-direction : column;
            flex-direction : column;
    -ms-flex-wrap      : wrap;
        flex-wrap      : wrap;
}

.form .form_input {
    -webkit-box-flex               : 1;
        -ms-flex               : 1 1 20px;
            flex               : 1 1 20px;
    margin-right       : 10px;
    border             : none;
    padding            : 20px;
    border-radius      : 10px;
    background-color   : #E6E6E6;
    /* outline         : 3px solid transparent; */
    -webkit-transition         : outline .2s, -webkit-flex-basis .2s;
    transition         : outline .2s, -webkit-flex-basis .2s;
    -o-transition         : outline .2s, flex-basis .2s;
    transition         : outline .2s, flex-basis .2s;
    transition         : outline .2s, flex-basis .2s, -webkit-flex-basis .2s, -ms-flex-preferred-size .2s;
}

.form .form_input:nth-child {
    -webkit-box-flex: 3;
        -ms-flex: 3 1 20px;
            flex: 3 1 20px;
}

.form .form_input:hover,
.form .form_input:focus {
    outline: none;
}


.button {
    background-color   : #DA22FF;
    background-image   : -webkit-gradient(linear, left top, right top, from(#DA22FF), color-stop(51%, #9733EE), to(#DA22FF));
    background-image   : -o-linear-gradient(left, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
    background-image   : linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
    border-radius      : 10rem;
    border             : none;
    text-transform     : uppercase;
    color              : #fff;
    cursor             : pointer;
    /* display         : flex; */
    -webkit-box-align        : center;
        -ms-flex-align        : center;
            align-items        : center;
    -webkit-transition         : 0.5s;
    -o-transition         : 0.5s;
    transition         : 0.5s;
    background-size    : 200% auto;
    color              : white;
    -webkit-box-shadow         : 0 0 10px #eee;
            box-shadow         : 0 0 10px #eee;
    margin-top         : 2rem;
    /* padding-top     : 2rem; */
}

.button {

    /* padding: 10px; */
    padding-top   : 10px;
    padding-bottom: 10px;
    padding-left  : 12px;
    padding-right : 12px;
    cursor        : pointer;
    display       : inline-block;
}


.button:hover {
    background-position: right center;
    color              : #fff;
    text-decoration    : none;
}





.form .form_submit {
    position        : relative;
    /* top          : -5px; */
    -ms-flex-preferred-size      : auto;
        flex-basis      : auto;
    margin          : 10px;
    cursor          : pointer;
    border          : none;
    border-radius   : 10px;
    font-size       : 1rem;

    color           : #FFFFFF;
    -webkit-box-shadow      : 0 12px 7px -5px rgba(0, 0, 0, 0.35);
            box-shadow      : 0 12px 7px -5px rgba(0, 0, 0, 0.35);
    -webkit-transition      : top .2s, background-color .2s, -webkit-box-shadow .2s, -webkit-flex-basis .2s;
    transition      : top .2s, background-color .2s, -webkit-box-shadow .2s, -webkit-flex-basis .2s;
    -o-transition      : box-shadow .2s, top .2s, background-color .2s, flex-basis .2s;
    transition      : box-shadow .2s, top .2s, background-color .2s, flex-basis .2s;
    transition      : box-shadow .2s, top .2s, background-color .2s, flex-basis .2s, -webkit-box-shadow .2s, -webkit-flex-basis .2s, -ms-flex-preferred-size .2s;
    cursor          : pointer;
    color           : #1F2937;
    padding-left    : 40px;
    padding-right   : 40px;
    padding-top     : 18px;
    padding-bottom  : 18px;
    background-color: #b8c6db;
    background-image: -o-linear-gradient(135deg, #b8c6db 0%, #f5f7fa 74%);
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.form .form_submit:focus {
    background-color: #4A65CE;
    outline         : 0;
}

.input-box-container {
    display       : -webkit-box;
    display       : -ms-flexbox;
    display       : flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align   : center;
        -ms-flex-align   : center;
            align-items   : center;
}



@media only screen and (max-width: 78.15em) {


    .input-box-container {
        -webkit-box-orient : vertical !important;
        -webkit-box-direction : normal !important;
            -ms-flex-direction : column !important;
                flex-direction : column !important;
        -webkit-box-pack: start !important;
            -ms-flex-pack: start !important;
                justify-content: start !important;
        -webkit-box-align    : center !important;
            -ms-flex-align    : center !important;
                align-items    : center !important;
    }

    .form .form_input {
        width     : 100%;
        margin-top: 1rem;
    }
}

/* footer */

.footer-container {


    font-size       : 1rem !important;
    display         : -webkit-box;
    display         : -ms-flexbox;
    display         : flex;
    -webkit-box-orient  : vertical;
    -webkit-box-direction  : normal;
        -ms-flex-direction  : column;
            flex-direction  : column;
    -ms-flex-wrap       : wrap;
        flex-wrap       : wrap;
    background-color: #7f00ff;
    background-image: -webkit-gradient(linear, left top, right top, from(#7f00ff), to(#e100ff));
    background-image: -o-linear-gradient(left, #7f00ff, #e100ff);
    background-image: linear-gradient(to right, #7f00ff, #e100ff);
    color           : #fff;
    padding         : 3rem;
    margin-bottom   : 0;

}

.footer-item {
    list-style-type: none;
}

.footer-para {
    font-size    : 1.6rem;
    width        : 40%;
    line-height  : 2;
    margin-bottom: 2rem;
}



.footer-title {
    color        : #fff;
    font-size    : 1.6rem;
    font-weight  : 600;
    /* text-align: center; */
}

.footer-title:hover {
    text-decoration: none !important;
}



@media only screen and (max-width: 78.15em) {
    .footer-container {
        margin-top: -2rem;
    }

    .footer-para {
        font-size       : 0.9rem;
        /* width        : 100%; */
        line-height     : 2;
        margin-bottom   : 2rem;
        margin-left     : 0;
    }

    .footer-list-item {
        margin-left    : 0 !important;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
    }

    .footer-title {
        margin-left: 1rem;
    }

    .footer-para {
        margin-left: 1.5rem;
    }

    .donate {
        margin-left: 1rem;
    }
}

@media only screen and (min-width: 700px) {
    .footer-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        font-size     : 1.3rem;
        text-align    : left;
    }
}


@media only screen and (min-width: 1000px) {
    .footer-para {
        font-size: 14px;
        width    : 30%;

    }
}

@media only screen and (min-width: 1300px) {
    .footer-title {
        font-size : 1rem;
        text-align: left;

    }

}

.footer-list-item {
    line-height: 2;
    font-size  : 0.8rem;
}


.footer-list-item:hover {
    text-decoration: underline;
    cursor         : pointer;
}

.donate {
    background-color: #232526;
    background-image: -webkit-gradient(linear, left top, right top, from(#232526), color-stop(51%, #414345), to(#232526));
    background-image: -o-linear-gradient(left, #232526 0%, #414345 51%, #232526 100%);
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%)
}

.donate {
    font-style        : italic;
    padding           : 1rem 2rem;
    text-align        : center;
    text-transform    : uppercase;
    -webkit-transition        : 0.5s;
    -o-transition        : 0.5s;
    transition        : 0.5s;
    background-size   : 200% auto;
    color             : white;
    -webkit-box-shadow        : 0 0 20px #eee;
            box-shadow        : 0 0 20px #eee;
    border-radius     : 10px;
    /* display        : block; */
    -webkit-box-shadow        : 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
            box-shadow        : 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    text-decoration   : none;
}

.donate:hover {
    background-position: right center;
    /* change the direction of the change here */
    color              : #fff;
    text-decoration    : none;
}


.ml {
    margin-left: 0;
}

@media only screen and (min-width: 700px) {
    .ml {
        margin-left: -600px;


    }
}

.mr {
    margin-right: 20px;
}

a {
    color: #fff;
}

@media only screen and (min-width: 1600px) {
    .mr {
        margin-right: 100px;

    }

    .ml {
        margin-left: -450px;


    }
}

.start {
    margin-top   : 3rem;
    /* text-align: center; */
}

@media only screen and (min-width: 1000px) {
    .start {
        margin-top: 0;
    }
}



.menu-items {
    display        : -webkit-box;
    display        : -ms-flexbox;
    display        : flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
    -webkit-box-align    : center;
        -ms-flex-align    : center;
            align-items    : center;
}

a {
    text-decoration: none;
}

.menu-item a {
    font-size   : 15px !important;
    color       : #1F2937;
    margin-right: 7rem;
    font-size   : 1.3rem;
    font-weight : 500;
}

.last {
    margin-right: 0 !important;
}


.menu-item a:hover {
    opacity         : 0.75;
    background-color: #f9f5f3;
}