* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Alata', sans-serif;

  margin: 0;
  background-color: #fff;
}

.password-section {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.password-header {
  display: flex;
  align-items: center;
}

.password-header img {
  margin-right: 10px;
}

main {
  padding: 25px;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 30px;
  background: #5cb0f0;
  box-shadow: 0px 0 0px #e5e7eb, 0px 0px 15px #afb2b3;
}

h3 {
  color: #fff;
  font-weight: 500;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

input[type='password'] {
  all: unset;
  width: calc(100% - 55px);
  border-radius: 5px;
  padding: 10px 15px;
  padding-left: 40px;
  font-size: 24px;
  color: #00494d;
  background-color: #f4fafa;
  border: 2px solid transparent;
}

input[type='password']:focus {
  border-color: #5cb0f0;
}

.left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 60px;
  padding: 5px;
  font-size: 1.5rem;
}

.tip-selector p {
  color: #fff;
  font-size: 1.1rem;
}

.password-header-title h3 {
  font-size: 1.9rem;
  font-weight: 700;
}

.result {
  background-color: #bae6fd;

  border-radius: 15px;
  padding: 40px 25px 25px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
}

.result h3 {
  font-size: 13px;
}

.result .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.result button {
  padding: 15px 20px;

  font-size: 1.3rem;
}

.result button:disabled {
  background-color: #5e7a7d;
}

@media (min-width: 768px) {
  header {
    padding: 7% 0 40px;
  }
  main {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    max-width: 700px;
    margin: auto;
  }

  .result button:disabled {
    background-color: #5e7a7d;
  }
  .result button:disabled:hover {
    cursor: pointer;
    background-color: #5e7a7d;
  }
  .result button:hover {
    cursor: pointer;
  }
}

@media (min-width: 1100px) {
  input[type='password']::-webkit-outer-spin-button,
  input[type='password']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='password'] {
    -moz-appearance: textfield;
  }

  main {
    max-width: 750px;
  }
}

.mybtn:hover .password-header-icon {
  /* transform: rotate(0deg); */
  margin-right: 40px !important;
}

/* .mybtn:hover {
    
} */


@media only screen and (max-width: 78.15em) {
 main {
   width: 80%; !important
 }
}