@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    display: none !important;
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    /* margin-bottom: 30px; */
}

/* .
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
} */

.slick-dots {
    position: absolute;
    /* bottom: -25px; */
    display: flex !important;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    top: -62px;
    height: 50px;
    background: red;
    /* min-width: 600px; */

    background-color: #000;
    border-radius: 7px;
    padding: 4px;
}

.slick-dots li:first-of-type,
.slick-dots li:last-of-type,
.slick-dots-loading {
    border-radius: 4px 0 0 4px;
}



.slick-dots li,
.slick-dots-loading li {
    cursor: pointer !important;
    flex: 1 !important;
    background-image: linear-gradient(to top, #242424 0%, #303030 100%) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 1px !important;
    transition: 0.2s !important;
    /* font-size: 2.5em; */
    box-shadow: inset 0 20px 4px -21px rgba(255,255,255,0.4), 0 19px 13px 0 rgba(0,0,0,0.3) !important;
    color: #181818 !important;
    position: relative !important; 
    z-index: 2 !important;
}




/* .button-group.toggle-button-group {
    position: relative;
    z-index: 2;
    display: flex;
    min-width: 600px;
    height: 50px;
    background-color: #000;
    border-radius: 7px;
    padding: 4px;
    transform: translateY(-16px);
  } */
  


.slick-dots li,
.slick-dots-loading li
{
    position: relative;

    display: inline-block;

    /* width: 20px;
    height: 20px; */
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots a,
.slick-dots-loading a {
    color: #fff !important;
}




.slick-dots li button,
.slick-dots-loading li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before,
.slick-dots-loading li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}